Repository languagetool-org/languagetool: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_all_tests, any_lang_changed, run_lang_ar_tests, run_lang_ast_tests, run_lang_be_tests, run_lang_de_tests, run_lang_en_tests

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.3
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            languagetool-commandline/.* run_all_tests true
            languagetool-core/.* run_all_tests true
            languagetool-dev/.* run_all_tests true
            languagetool-gui-commons/.* run_all_tests true
            languagetool-http-client/.* run_all_tests true
            languagetool-language-modules/.* any_lang_changed true
            languagetool-language-modules/ar/.* run_lang_ar_tests true
            languagetool-language-modules/ast/.* run_lang_ast_tests true
            languagetool-language-modules/be/.* run_lang_be_tests true
            languagetool-language-modules/de/.* run_lang_de_tests true
            languagetool-language-modules/en/.* run_lang_en_tests true

[circleci] fix typo and add scheduled tests
  .circleci/config.yml
Due: none

[circleci] remove scheduler
  .circleci/config.yml
Due: none

[fr] disambiguation: de manière + adj
  languagetool-language-modules/fr/src/main/resources/org/languagetool/resource/fr/disambiguation.xml
Due: any_lang_changed

[en] HL_MISSING_COMMA AP for "but" + dependent clause
  languagetool-language-modules/en/src/main/resources/org/languagetool/rules/en/remote-rule-filters.xml
Due: any_lang_changed, run_lang_en_tests

undo changes for 'Vize-'
  languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/compounds.txt
Due: any_lang_changed, run_lang_de_tests

[en] add spelling and POS
  languagetool-language-modules/en/src/main/resources/org/languagetool/resource/en/added.txt
  languagetool-language-modules/en/src/main/resources/org/languagetool/resource/en/hunspell/spelling.txt
  languagetool-language-modules/en/src/main/resources/org/languagetool/resource/en/multiwords.txt
Due: any_lang_changed, run_lang_en_tests

[de] improve rules
  languagetool-language-modules/de/src/main/java/org/languagetool/rules/de/CaseRule.java
  languagetool-language-modules/de/src/main/java/org/languagetool/rules/de/GermanSpellerRule.java
  languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/compounds.txt
  languagetool-language-modules/de/src/main/resources/org/languagetool/rules/de/grammar.xml
  languagetool-language-modules/de/src/test/java/org/languagetool/rules/de/CaseRuleTest.java
Due: any_lang_changed, run_lang_de_tests

[core] add global spelling
  languagetool-core/src/main/resources/org/languagetool/resource/spelling_global.txt
Due: run_all_tests

[de] add spelling and POS
  languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/added.txt
  languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/hunspell/spelling.txt
Due: any_lang_changed, run_lang_de_tests

fix merge conflicts
  languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/compounds.txt
Due: any_lang_changed, run_lang_de_tests

[ru] issue #4454 p.10 and p.22
  languagetool-language-modules/ru/src/main/resources/org/languagetool/rules/ru/grammar.xml
Due: any_lang_changed

[ru] issue #4454 p.6 and p.29
  languagetool-language-modules/ru/src/main/resources/org/languagetool/rules/ru/grammar.xml
Due: any_lang_changed

[core] add static list (empty for now) of temporary basic rules [server] add condition to check if found premium rule is temporary a basic rule
  languagetool-core/src/main/java/org/languagetool/Premium.java
  languagetool-server/src/main/java/org/languagetool/server/TextChecker.java
Due: run_all_tests

[ru] issue #4454 p.3 spelling words with пол-
  languagetool-language-modules/ru/src/main/resources/org/languagetool/resource/ru/disambiguation.xml
Due: any_lang_changed

synonyms rule with postag and chunk
  languagetool-core/src/main/java/org/languagetool/AnalyzedTokenReadings.java
  languagetool-core/src/main/java/org/languagetool/rules/AbstractRepeatedWordsRule.java
  languagetool-core/src/main/java/org/languagetool/rules/SynonymsData.java
  languagetool-language-modules/ca/src/main/java/org/languagetool/rules/ca/CatalanRepeatedWordsRule.java
  languagetool-language-modules/en/src/main/java/org/languagetool/rules/en/EnglishRepeatedWordsRule.java
  languagetool-language-modules/en/src/main/resources/org/languagetool/rules/en/synonyms.txt
  languagetool-language-modules/en/src/test/java/org/languagetool/rules/en/EnglishRepeatedWordsRuleTest.java
  languagetool-language-modules/es/src/main/java/org/languagetool/rules/es/SpanishRepeatedWordsRule.java
Due: run_all_tests, any_lang_changed, run_lang_en_tests

[es,ca] more words, replace
  languagetool-language-modules/ca/src/main/resources/org/languagetool/resource/ca/added.txt
  languagetool-language-modules/ca/src/main/resources/org/languagetool/resource/ca/spelling.txt
  languagetool-language-modules/ca/src/main/resources/org/languagetool/rules/ca/replace.txt
  languagetool-language-modules/es/src/main/resources/org/languagetool/resource/es/added.txt
  languagetool-language-modules/es/src/main/resources/org/languagetool/resource/es/hunspell/spelling.txt
  languagetool-language-modules/es/src/main/resources/org/languagetool/rules/es/replace.txt
Due: any_lang_changed

[circleci] use git shallow to reduce repo size
  .circleci/config.yml
Due: none

[nl] dictionary
  languagetool-language-modules/nl/src/main/resources/org/languagetool/resource/nl/added.txt
  languagetool-language-modules/nl/src/main/resources/org/languagetool/resource/nl/removed.txt
  languagetool-language-modules/nl/src/main/resources/org/languagetool/resource/nl/spelling/spelling.txt
Due: any_lang_changed

[pt] Added words to added.txt
  languagetool-language-modules/pt/src/main/resources/org/languagetool/resource/pt/added.txt
Due: any_lang_changed

[pt] Fixed build
  languagetool-language-modules/pt/src/main/resources/org/languagetool/resource/pt/added.txt
Due: any_lang_changed

[ca] new rule VASER
  languagetool-language-modules/ca/src/main/resources/org/languagetool/rules/ca/grammar.xml
  languagetool-language-modules/ca/src/main/resources/org/languagetool/rules/ca/replace_anglicism.txt
Due: any_lang_changed

[en] refine HL_MISSING_COMMA AP
  languagetool-language-modules/en/src/main/resources/org/languagetool/rules/en/remote-rule-filters.xml
Due: any_lang_changed, run_lang_en_tests

[ca] ENCARARSE_AMB
  languagetool-language-modules/ca/src/main/resources/org/languagetool/rules/ca/grammar.xml
Due: any_lang_changed

[en] add spelling and POS
  languagetool-language-modules/en/src/main/resources/org/languagetool/resource/en/added.txt
  languagetool-language-modules/en/src/main/resources/org/languagetool/resource/en/hunspell/spelling.txt
Due: any_lang_changed, run_lang_en_tests

[de] improve rules
  languagetool-language-modules/de/src/main/java/org/languagetool/rules/de/AgreementRule2.java
  languagetool-language-modules/de/src/main/java/org/languagetool/rules/de/CaseRule.java
  languagetool-language-modules/de/src/main/resources/org/languagetool/rules/de/grammar.xml
Due: any_lang_changed, run_lang_de_tests

[circleci] use git shallow to reduce repo size and add scheduler
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none
