Repository languagetool-org/languagetool: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_all_tests, any_lang_changed, run_lang_ar_tests, run_lang_ast_tests, run_lang_be_tests, run_lang_de_tests, run_lang_en_tests

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.3
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            languagetool-commandline/.* run_all_tests true
            languagetool-core/.* run_all_tests true
            languagetool-dev/.* run_all_tests true
            languagetool-gui-commons/.* run_all_tests true
            languagetool-http-client/.* run_all_tests true
            languagetool-language-modules/.* any_lang_changed true
            languagetool-language-modules/ar/.* run_lang_ar_tests true
            languagetool-language-modules/ast/.* run_lang_ast_tests true
            languagetool-language-modules/be/.* run_lang_be_tests true
            languagetool-language-modules/de/.* run_lang_de_tests true
            languagetool-language-modules/en/.* run_lang_en_tests true

[pt] Added rule ID: TIVE_ESTIVE
  languagetool-language-modules/pt/src/main/resources/org/languagetool/rules/pt/grammar.xml
Due: any_lang_changed

[pt] Small fix in last rule... sorry
  languagetool-language-modules/pt/src/main/resources/org/languagetool/rules/pt/grammar.xml
Due: any_lang_changed

[circleci] modify ci
  .circleci/continue-config.yml
Due: none

[fr] rule name improvement
  languagetool-language-modules/fr/src/main/resources/org/languagetool/rules/fr/grammar.xml
Due: any_lang_changed

[fr] NOMBRES_EN_LETTRES_2_IMPROVED
  languagetool-language-modules/fr/src/main/resources/org/languagetool/rules/fr/grammar.xml
Due: any_lang_changed

[en] add spelling and POS
  languagetool-language-modules/en/src/main/resources/org/languagetool/resource/en/added.txt
  languagetool-language-modules/en/src/main/resources/org/languagetool/resource/en/hunspell/spelling.txt
  languagetool-language-modules/en/src/main/resources/org/languagetool/resource/en/multiwords.txt
Due: any_lang_changed, run_lang_en_tests

[de] improve rules
  languagetool-language-modules/de/src/main/java/org/languagetool/rules/de/GermanSpellerRule.java
  languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/compounds.txt
  languagetool-language-modules/de/src/main/resources/org/languagetool/rules/de/grammar.xml
Due: any_lang_changed, run_lang_de_tests

[core] add global spelling
  languagetool-core/src/main/resources/org/languagetool/resource/spelling_global.txt
Due: run_all_tests

[de] add spelling and POS
  languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/added.txt
  languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/hunspell/spelling.txt
Due: any_lang_changed, run_lang_de_tests

[circleci] modify ci
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

[circleci] modify ci
  .circleci/config.yml
Due: none

[ru] fix false positives and issue #4454 p.10
  languagetool-language-modules/ru/src/main/resources/org/languagetool/rules/ru/grammar.xml
Due: any_lang_changed

deprecate SSL handled by LT, it's better to have it handled by an external reverse proxy like Apache httpd or nginx
  languagetool-server/src/main/java/org/languagetool/server/HTTPSServer.java
Due: none

fix logic when to print usage (there can now be more options if you combine them all)
  languagetool-server/src/main/java/org/languagetool/server/HTTPSServer.java
  languagetool-server/src/main/java/org/languagetool/server/HTTPServer.java
Due: none

[de] prevent suggestions with "-s-" (#5763)
  languagetool-language-modules/de/src/main/java/org/languagetool/rules/de/GermanSpellerRule.java
Due: any_lang_changed, run_lang_de_tests

only print the SSL warning if in public mode
  languagetool-server/src/main/java/org/languagetool/server/HTTPServer.java
Due: none

[uk] wti pull
  languagetool-language-modules/uk/src/main/resources/org/languagetool/MessagesBundle_uk.properties
Due: any_lang_changed

[es] mama/mamá #5805
  languagetool-language-modules/es/src/main/resources/org/languagetool/rules/es/grammar.xml
Due: any_lang_changed

[circleci] modify ci
  languagetool-language-modules/de/src/main/resources/de_ci_lang_trigger.txt
  languagetool-language-modules/en/src/main/resources/en_ci_lang_trigger.txt
Due: any_lang_changed, run_lang_de_tests, run_lang_en_tests

[fr] improve spelling+filter results
  languagetool-language-modules/fr/src/main/java/org/languagetool/rules/fr/FindSuggestionsFilter.java
  languagetool-language-modules/fr/src/main/resources/org/languagetool/rules/fr/grammar.xml
Due: any_lang_changed

improve compounds
  languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/compounds.txt
Due: any_lang_changed, run_lang_de_tests

[pt] Added rule ID: CONCORDANCIA_COM_NUCLEO_DO_SUJEITO (Ricardo Joseh Lima)
  languagetool-language-modules/pt/src/main/resources/org/languagetool/rules/pt/grammar.xml
Due: any_lang_changed
