Repository languagetool-org/languagetool: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_all_tests, any_lang_changed, run_lang_ar_tests, run_lang_ast_tests, run_lang_be_tests, run_lang_de_tests, run_lang_en_tests

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.3
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            languagetool-commandline/.* run_all_tests true
            languagetool-core/.* run_all_tests true
            languagetool-dev/.* run_all_tests true
            languagetool-gui-commons/.* run_all_tests true
            languagetool-http-client/.* run_all_tests true
            languagetool-language-modules/.* any_lang_changed true
            languagetool-language-modules/ar/.* run_lang_ar_tests true
            languagetool-language-modules/ast/.* run_lang_ast_tests true
            languagetool-language-modules/be/.* run_lang_be_tests true
            languagetool-language-modules/de/.* run_lang_de_tests true
            languagetool-language-modules/en/.* run_lang_en_tests true

[circleci] modify ci
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

[circleci] modify ci
  .circleci/config.yml
Due: none

[circleci] modify ci
  .circleci/continue-config.yml
Due: none

[circleci] modify ci
  languagetool-language-modules/de/src/main/resources/de_ci_lang_trigger.txt
  languagetool-language-modules/en/src/main/resources/en_ci_lang_trigger.txt
Due: any_lang_changed, run_lang_de_tests, run_lang_en_tests

[circleci] modify ci
  .circleci/config.yml
  .circleci/continue-config.yml
  languagetool-language-modules/de/src/main/resources/citrigger.txt
  languagetool-language-modules/de/src/main/resources/de_ci_lang_trigger.txt
  languagetool-language-modules/en/src/main/resources/en_ci_lang_trigger.txt
Due: any_lang_changed, run_lang_de_tests, run_lang_en_tests

[circleci] modify ci
  .circleci/config.yml
  .circleci/continue-config.yml
  languagetool-language-modules/de/src/main/resources/citrigger.txt
Due: any_lang_changed, run_lang_de_tests

[es] enable mama/mamá #5805
  languagetool-language-modules/es/src/main/resources/org/languagetool/rules/es/grammar.xml
Due: any_lang_changed

[es] improve mama/mamá #5805
  languagetool-language-modules/es/src/main/resources/org/languagetool/rules/es/grammar.xml
Due: any_lang_changed

try to work around #5645
  languagetool-dev/src/main/java/org/languagetool/dev/httpchecker/CheckCallable.java
Due: run_all_tests

[pt] Added words to wordiness.txt
  languagetool-language-modules/pt/src/main/resources/org/languagetool/rules/pt/wordiness.txt
Due: any_lang_changed

[es] suggestions for Windows10 #5807
  languagetool-language-modules/ca/src/main/java/org/languagetool/rules/ca/MorfologikCatalanSpellerRule.java
  languagetool-language-modules/ca/src/test/java/org/languagetool/rules/ca/MorfologikCatalanSpellerRuleTest.java
  languagetool-language-modules/es/src/main/java/org/languagetool/rules/es/MorfologikSpanishSpellerRule.java
  languagetool-language-modules/es/src/test/java/org/languagetool/rules/es/MorfologikSpanishSpellerRuleTest.java
  languagetool-language-modules/fr/src/main/resources/org/languagetool/rules/fr/replace.txt
  languagetool-language-modules/fr/src/test/java/org/languagetool/rules/fr/MorfologikFrenchSpellerRuleTest.java
Due: any_lang_changed

[fr] A_A_ACCENT improved
  languagetool-language-modules/fr/src/main/resources/org/languagetool/rules/fr/grammar.xml
Due: any_lang_changed

[fr] disable ignore_spelling rule, too greedy #5809
  languagetool-language-modules/fr/src/main/resources/org/languagetool/resource/fr/disambiguation.xml
  languagetool-language-modules/fr/src/main/resources/org/languagetool/rules/fr/grammar.xml
  languagetool-language-modules/fr/src/test/java/org/languagetool/rules/fr/MorfologikFrenchSpellerRuleTest.java
Due: any_lang_changed

NOMBRES_EN_LETTRES_2_IMPROVED (#5804)
  languagetool-language-modules/fr/src/main/resources/org/languagetool/rules/fr/grammar.xml
Due: any_lang_changed

[core] add static list (empty for now) of temporary basic rules [server] add condition to check if found premium rule is temporary a basic rule
  languagetool-core/src/main/java/org/languagetool/Premium.java
  languagetool-server/src/main/java/org/languagetool/server/TextChecker.java
Due: run_all_tests
